<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Check-Out Date</label>
    <input type="date" class="form-control" id="outDate">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Return Date</label>
    <input type="date" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="dropdown">
    <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Countries
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
  <br /><br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
